<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.dictionary.dictionaryMapper">
	<select id="selectDictionary" resultType="DataDictionary">
		select * from data_dictionary where typeName = #{typeName}
	</select>
	
	<select id="selectCategory" resultType="AppCategory">
		select * from app_category where parentId = #{id}
	</select>
	
	<select id="selectList" resultType="AppInfo">
	SELECT a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,
	(SELECT devName FROM dev_user WHERE id = a.devId) as devName,a.status,
	(SELECT valueName FROM data_dictionary d WHERE  a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,a.flatformId,
	(SELECT valueName FROM data_dictionary d WHERE  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,a.categoryLevel1,
	(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel1) as categoryLevel1Name,a.categoryLevel2,
	(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel2) as categoryLevel2Name,a.categoryLevel3,
	(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel3) as categoryLevel3Name,a.downloads,a.onSaleDate,a.versionId,
	(SELECT v.versionNo FROM app_version v where v.id=a.versionId ) as versionNo
	FROM app_info a where 1=1
	<if test="querySoftwareName !=''">and softwareName like "%"#{querySoftwareName}"%"</if>
	<if test="queryStatus !=''">and status = #{queryStatus}</if>
	<if test="queryFlatformId !=''">and flatformId = #{queryFlatformId}</if>
	<if test="queryCategoryLevel1 !=''">and categoryLevel1 = #{queryCategoryLevel1}</if>
	<if test="queryCategoryLevel2 !=''">and categoryLevel2 = #{queryCategoryLevel2}</if>
	<if test="queryCategoryLevel3 !=''">and categoryLevel3 = #{queryCategoryLevel3}</if>
	LIMIT #{currentpageNo},#{pageSize}
	</select>
	
	<select id="AppInfocount" resultType="Integer">
		select count(1) from app_info where 1=1
		<if test="querySoftwareName !=''">and softwareName like "%"#{querySoftwareName}"%"</if>
		<if test="queryStatus !=''">and status = #{queryStatus}</if>
		<if test="queryFlatformId !=''">and flatformId = #{queryFlatformId}</if>
		<if test="queryCategoryLevel1 !=''">and categoryLevel1 = #{queryCategoryLevel1}</if>
		<if test="queryCategoryLevel2 !=''">and categoryLevel2 = #{queryCategoryLevel2}</if>
		<if test="queryCategoryLevel3 !=''">and categoryLevel3 = #{queryCategoryLevel3}</if>
	</select>
</mapper>